.sectionBody {
  position: relative;
  height: 1080px;
  width: 100%;
}

.card-info {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 50%;
}
.card-inf-txtBody {
  position: absolute;
  left: 0%;
  right: 41.61%;
  top: 6.79%;
  bottom: 0%;

  background: rgba(1, 16, 45, 0.7);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 15px;

  color: white;
  z-index: 1;
}

.card-inf-ImgBody {
  position: absolute;
  left: 42.77%;
  right: 0%;
  top: 0%;
  bottom: 14.62%;

  border-radius: 20px;
  z-index: 0;
}

.imgBody {
  background: rgb(170, 38, 60);
  position: absolute;
  top: 60%;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 40%;
}

.img-cardInfo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  border-radius: 30px;
}
